.button {
    margin:5%;
    text-align: center;
}



.button #competences {
    background-color: rgb(141, 156, 185);;
    color:white;
    padding: 5px 50px;
    text-decoration: none;
    border:none;
    border-radius: 10px;
    font-size: 200%;

}
.button #competences:hover {
    color: rgb(70, 70, 143);
}

.images {
    text-align: center;
    

}

#BTSSIO {
    
    margin-right: 5%;
}

#EPSI { 
    margin-left: 5%;
    
}

.title-content {
    color:white;
}

.presentation {
    padding-top:2%;
    padding-bottom: 2%;
    background-color: rgb(141, 156, 185);
}

.presentation-texte {
    color: white;
    padding-left: 10%;
    padding-right: 10%;
}

